html {
    /* setado a 62.5% do root total de 16px, a cada 1rem será considerado 10px */
    font-size: 62.5%;
}

body {
    font-size: 1.6rem;
}

body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    --color-primary: #FF7A00;
    --color-secondary: #FFF0E1;
    --color-button: #0017e6;
    --color-button-hover: #1221B3;
    --color-text: #472B00;
}

input,
button,
a {
    border: none;
    font-family: 'Roboto', sans-serif;
}