.home__content{
    height: auto;
    width: 100vw;
    display: flex;
    flex-direction: column;
}

.home__section{
    max-width: 70%;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: auto;
}