.content__user h1,
h2,
p,
input,
label,
button {
    font-family: "Roboto";
}

#login__content {
    width: 100vw;
    height: 100vh;
    display: flex;
    flex-direction: row;
}

.login__content--right {
    width: 65%;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #fff0e1;
}

.login__content--right img {
    width: auto;
    height: auto;
}

.login__content--left {
    width: 40%;
    height: 100vh;
    background-color: #ff7a00;
}

.user__login {
    display: flex;
    flex-direction: column;
}

.user__login label {
    width: 100px;
    height: 15px;
    text-align: center;
    margin-top: 8px;
}

.content__user {
    width: 80%;
    max-width: 390px;
    height: 85%;
    margin: auto;
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.login__message {
    display: flex;
    flex-direction: column;
    color: var(--color-text);
}

.login__message p {
    margin: 30px 0;
}

.login__message h1 {
    margin-bottom: 20px;
}

.wrapper {
    width: 350px;
    padding: 20px;
    background-color: white;
    border-radius: 5px;
    margin-top: 15px;
}

.wrapper .input__data {
    height: 40px;
    width: 100%;
    position: relative;
}

.wrapper .input__data input {
    height: 100%;
    width: 100%;
    border: none;
    border-bottom: 1px solid var(--color-primary);
    font-size: 14px;
    outline: none;
}

.wrapper .input__data label {
    position: absolute;
    bottom: 10px;
    left: -25px;
    text-align: center;
    color: gray;
    pointer-events: none;
    transition: all 0.5s ease;
    font-size: 14px;
}

.input__data input:focus~label {
    transform: translateY(-28px);
}

.input__data input:valid~label {
    transform: translateY(-28px);
}

.content__login {
    width: 100%;
}

.wrapper__options {
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 14px;
    padding: 15px 0;
}

.wrapper__options a {
    text-decoration: none;
    color: var(--color-text);
    opacity: 0.7;
}

.wrapper__options label {
    margin: 0;
    width: 120px;
    color: var(--color-text);
}

.wrapper__options input {
    margin-right: 5px;
}

.wrapper__buttons {
    display: flex;
    height: 40px;
    align-items: center;
}

.wrapper__content--buttons {
    width: 45%;
    height: 100%;
    display: flex;
    justify-content: space-between;
    margin-top: 60px;
}

.wrapper__content--buttons button {
    width: 80px;
    border-radius: 5px;
    transition: all 0.5s;
}

.wrapper__content--buttons button:hover {
    background-color: var(--color-button-hover);
}

.wrapper__content--buttons button:focus {
    outline: none;
}

.login {
    background-color: var(--color-button);
    color: white;
}

.register {
    border: 1px solid var(--color-text);
    color: var(--color-text);
    background-color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 80px;
    outline: none;
    font-family: "Roboto", sans-serif;
    border-radius: 5px;
    text-decoration: none;
    font-size: 13px;
    transition: all 0.5s;
}

.register:focus {
    background-color: orange
}

.login__back{
    width: 36px;
    height: 36px;
    margin-bottom: 60px;
}

.login__back svg{
    width: 30px;
    height: 30px;
    color: var(--color-text);
}