#button {
  width: 400px;
  height: 41px;
  background-color: #5d6cfd;
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: "Montserrat", sans-serif;
  font-weight: bold;
  text-decoration: none;
  margin-top: 20px;
  border-radius: 5px;
  align-self: center;
}

.teste {
  height: 600px;
}

label#thumbnail {
  display: flex;
  align-items: center;
  flex-direction: column;
  font-family: "Montserrat", sans-serif;
  max-width: 185px;
  max-height: 185px;
  cursor: pointer;
}

label#thumbnail svg {
  width: 180px;
  height: 180px;
}

label#thumbnail input {
  display: none;
}

label#thumbnail.has-thumbnail path {
  display: none;
}

label#thumbnail.has-thumbnail {
  border-radius: 50%;
  border: 2px solid rgba(255, 122, 0, 0.3);
  margin-top: 10px;
}


.form {
  margin-top: 10px;
  height: auto;
  display: flex;
  justify-content: center;
 
}

.form__flex {
  display: flex;
  justify-content: space-between;
}

.form__photo p {
  text-align: center;
  margin-top: 5px;
  font-family: "Montserrat", sans-serif;
}

.form__photo {
  margin-top: 23px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  margin-bottom: 20px;
}

.form__flex #birth {
  width: 172px;
  padding: 0 5px;
  max-width: 187px;
}

.form__flex #genre {
  height: 45px;
  width: 100%;
}

.form__flex > label {
  width: 187px;
  align-content: center;
}

.register__all {
  background-color: white;
  height: auto;
  overflow-x: hidden;
}

.form__area {
  height: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
}

.form__student {
  width: 400px;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.form__student input,
select {
  max-width: 400px;
  width: auto;
  height: 41px;
  font-size: 14px;
  background: #ffffff;
  border: 2px solid rgba(255, 122, 0, 0.3);
  border-radius: 5px;
}

.form__student input:focus {
  outline: none;
}

.form__student input,
select {
  font-family: "Montserrat", sans-serif;
  padding: 0 7px;
}

.form__student label {
  font-family: Montserrat;
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  margin-top: 10px;
  margin-bottom: 5px;
  text-align: initial;
}

.student__photo {
  display: flex;
}

.wrapper__form {
  display: flex;
  justify-content: space-between;
}

.wrapper__form label {
  width: 187px;
  display: flex;
  flex-direction: column;
}
