* {
    margin: 0;
    padding: 0;
    -webkit-font-smoothing: antialiased;
}

.myads__container {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.myads__filter {
    font-family: 'Montserrat', sans-serif;
    font-style: normal;
    font-weight: bold;
    font-size: 36px;
    color: var(--color-text);

    margin-bottom: 20px;
    padding-bottom: 0;
    border-bottom: 3px solid var(--color-text);
}

.myads__name p {
    font-family: Roboto;
    font-weight: bold;
    font-size: 16px;
    color: var(--color-text);

    display: flex;
    align-content: center;
}

.myads__price h3 {
    font-family: Roboto;
    font-weight: bold;
    font-size: 16px;
    color: var(--color-text);

    display: flex;
    align-items: center;
}

.myads__actions {
    font-family: Roboto;
    font-weight: 300;
    font-size: 15px;
    color: var(--color-text);

    display: flex;
    flex-direction: column;
}

.myads__actions--edit{
    display: flex;
    justify-content: flex-end;
}

.myads__actions--delete{
    display: flex;
    justify-content: flex-end;
}






